* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: lightblue;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: lightpink;
}

.container {
  padding: 1rem;
  max-width: 750px;
  margin: 0 auto;
}

.contact, .header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-style: normal;
}

.contact-info, .contact-socials, .header-socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-socials {
  align-self: center;
}

.contact-icon, .header-social {
  width: 1.5rem;
}

.contact-social {
  width: 2rem;
}